@theme {
  --color-sc-color-background: hsla(0, 0%, 100%, 1.00);
  --color-sc-color-foreground: hsla(24, 10%, 10%, 1.00);
  --color-sc-color-muted: hsla(60, 5%, 96%, 1.00);
  --color-sc-color-muted-foreground: hsla(25, 5%, 45%, 1.00);
  --color-sc-color-card: hsla(0, 0%, 100%, 1.00);
  --color-sc-color-card-foreground: hsla(20, 14%, 4%, 1.00);
  --color-sc-color-popover: hsla(0, 0%, 100%, 1.00);
  --color-sc-color-popover-foreground: hsla(20, 14%, 4%, 1.00);
  --color-sc-color-border: hsla(20, 6%, 90%, 1.00);
  --color-sc-color-input: hsla(24, 6%, 83%, 1.00);
  --color-sc-color-primary: hsla(12, 6%, 15%, 1.00);
  --color-sc-color-primary-foreground: hsla(60, 9%, 98%, 1.00);
  --color-sc-color-secondary: hsla(60, 5%, 96%, 1.00);
  --color-sc-color-secondary-foreground: hsla(12, 6%, 15%, 1.00);
  --color-sc-color-accent: hsla(60, 5%, 96%, 1.00);
  --color-sc-color-accent-foreground: hsla(12, 6%, 15%, 1.00);
  --color-sc-color-destructive: hsla(26, 90%, 37%, 1.00);
  --color-sc-color-destructive-foreground: hsla(60, 9%, 98%, 1.00);
  --color-sc-color-ring: hsla(25, 5%, 45%, 1.00);
  --color-sc-color-hover-primary: hsla(30, 6%, 25%, 1.00);
  --color-sc-color-hover-secondary: hsla(20, 6%, 90%, 1.00);
  --color-sc-color-hover-destructive: hsla(32, 95%, 44%, 1.00);
  --color-sc-color-success: hsla(142, 76%, 36%, 1.00);
  --color-sc-color-hover-succes: hsla(142, 72%, 29%, 1.00);
  --color-sc-color-border-destructive50: hsla(32, 95%, 44%, 1.00);
  --color-sc-color-bg-destructive10: hsla(32, 95%, 44%, 0.10);
  --color-sc-color-hover-destructive20: hsla(32, 95%, 44%, 0.20);
  --color-sc-color-bg-muted50: hsla(210, 40%, 96%, 0.50);
  --color-sc-color-bg-accent50: hsla(210, 40%, 96%, 0.50);
  --color-sc-color-bg-muted40: hsla(210, 40%, 96%, 0.40);
  --color-sc-color-border-muted40: hsla(210, 40%, 96%, 0.40);
  --color-sc-color-sidebar-background: hsla(60, 9%, 98%, 1.00);
  --color-sc-color-sidebar-foreground: hsla(30, 6%, 25%, 1.00);
  --color-sc-color-sidebar-primary: hsla(24, 10%, 10%, 1.00);
  --color-sc-color-sidebar-primary-foreground: hsla(60, 9%, 98%, 1.00);
  --color-sc-color-sidebar-accent: hsla(60, 5%, 96%, 1.00);
  --color-sc-color-sidebar-accent-foreground: hsla(24, 10%, 10%, 1.00);
  --color-sc-color-sidebar-border: hsla(20, 6%, 90%, 1.00);
  --color-sc-color-sidebar-ring: hsla(24, 5%, 64%, 1.00);
  --color-sc-color-sidebar-foreground70: hsla(30, 6%, 25%, 0.70);
  --color-neon-green: hsla(81, 96%, 55%, 1.00);
  --color-sc-color-menu-backdrop: hsla(24, 10%, 10%, 0.80);
  --color-sc-color-image-backdrop: hsla(24, 10%, 10%, 0.20);
}

[data-theme="darkPro"] {
  --color-sc-color-background: hsla(20, 14%, 4%, 1.00);
  --color-sc-color-foreground: hsla(60, 9%, 98%, 1.00);
  --color-sc-color-muted: hsla(12, 6%, 15%, 1.00);
  --color-sc-color-muted-foreground: hsla(24, 5%, 64%, 1.00);
  --color-sc-color-card: hsla(20, 14%, 4%, 1.00);
  --color-sc-color-card-foreground: hsla(60, 9%, 98%, 1.00);
  --color-sc-color-popover: hsla(20, 14%, 4%, 1.00);
  --color-sc-color-popover-foreground: hsla(60, 9%, 98%, 1.00);
  --color-sc-color-border: hsla(30, 6%, 25%, 1.00);
  --color-sc-color-input: hsla(30, 6%, 25%, 1.00);
  --color-sc-color-primary: hsla(60, 9%, 98%, 1.00);
  --color-sc-color-primary-foreground: hsla(24, 10%, 10%, 1.00);
  --color-sc-color-secondary: hsla(12, 6%, 15%, 1.00);
  --color-sc-color-secondary-foreground: hsla(60, 9%, 98%, 1.00);
  --color-sc-color-accent: hsla(12, 6%, 15%, 1.00);
  --color-sc-color-accent-foreground: hsla(60, 9%, 98%, 1.00);
  --color-sc-color-destructive: hsla(32, 95%, 44%, 1.00);
  --color-sc-color-destructive-foreground: hsla(60, 9%, 98%, 1.00);
  --color-sc-color-ring: hsla(24, 5%, 64%, 1.00);
  --color-sc-color-hover-primary: hsla(60, 5%, 96%, 1.00);
  --color-sc-color-hover-secondary: hsla(30, 6%, 25%, 1.00);
  --color-sc-color-hover-destructive: hsla(26, 90%, 37%, 1.00);
  --color-sc-color-success: hsla(142, 71%, 45%, 1.00);
  --color-sc-color-hover-succes: hsla(142, 76%, 36%, 1.00);
  --color-sc-color-border-destructive50: hsla(26, 90%, 37%, 1.00);
  --color-sc-color-bg-destructive10: hsla(26, 90%, 37%, 0.10);
  --color-sc-color-hover-destructive20: hsla(26, 90%, 37%, 0.20);
  --color-sc-color-bg-muted50: hsla(217, 33%, 17%, 0.50);
  --color-sc-color-bg-accent50: hsla(217, 33%, 17%, 0.50);
  --color-sc-color-bg-muted40: hsla(217, 33%, 17%, 0.40);
  --color-sc-color-border-muted40: hsla(217, 33%, 17%, 0.40);
  --color-sc-color-sidebar-background: hsla(24, 10%, 10%, 1.00);
  --color-sc-color-sidebar-foreground: hsla(60, 5%, 96%, 1.00);
  --color-sc-color-sidebar-primary: hsla(224, 76%, 48%, 1.00);
  --color-sc-color-sidebar-primary-foreground: hsla(0, 0%, 100%, 1.00);
  --color-sc-color-sidebar-accent: hsla(12, 6%, 15%, 1.00);
  --color-sc-color-sidebar-accent-foreground: hsla(60, 5%, 96%, 1.00);
  --color-sc-color-sidebar-border: hsla(12, 6%, 15%, 1.00);
  --color-sc-color-sidebar-ring: hsla(24, 6%, 83%, 1.00);
  --color-sc-color-sidebar-foreground70: hsla(210, 40%, 96%, 0.70);
  --color-neon-green: hsla(81, 96%, 55%, 1.00);
  --color-sc-color-menu-backdrop: hsla(60, 9%, 98%, 0.80);
  --color-sc-color-image-backdrop: hsla(24, 10%, 10%, 0.20);
}

[data-theme="lightGaleria"] {
  --color-sc-color-background: hsla(0, 0%, 100%, 1.00);
  --color-sc-color-foreground: hsla(12, 6%, 15%, 1.00);
  --color-sc-color-muted: hsla(240, 5%, 96%, 1.00);
  --color-sc-color-muted-foreground: hsla(240, 4%, 46%, 1.00);
  --color-sc-color-card: hsla(0, 0%, 100%, 1.00);
  --color-sc-color-card-foreground: hsla(240, 10%, 4%, 1.00);
  --color-sc-color-popover: hsla(0, 0%, 100%, 1.00);
  --color-sc-color-popover-foreground: hsla(240, 10%, 4%, 1.00);
  --color-sc-color-border: hsla(240, 6%, 90%, 1.00);
  --color-sc-color-input: hsla(240, 6%, 90%, 1.00);
  --color-sc-color-primary: hsla(30, 6%, 25%, 1.00);
  --color-sc-color-primary-foreground: hsla(60, 5%, 96%, 1.00);
  --color-sc-color-secondary: hsla(240, 5%, 96%, 1.00);
  --color-sc-color-secondary-foreground: hsla(30, 6%, 25%, 1.00);
  --color-sc-color-accent: hsla(240, 5%, 96%, 1.00);
  --color-sc-color-accent-foreground: hsla(24, 10%, 10%, 1.00);
  --color-sc-color-destructive: hsla(0, 72%, 51%, 1.00);
  --color-sc-color-destructive-foreground: hsla(0, 0%, 98%, 1.00);
  --color-sc-color-ring: hsla(240, 4%, 46%, 1.00);
  --color-sc-color-hover-primary: hsla(33, 5%, 32%, 1.00);
  --color-sc-color-hover-secondary: hsla(20, 6%, 90%, 1.00);
  --color-sc-color-hover-destructive: hsla(0, 84%, 60%, 1.00);
  --color-sc-color-success: hsla(142, 76%, 36%, 1.00);
  --color-sc-color-hover-succes: hsla(142, 72%, 29%, 1.00);
  --color-sc-color-border-destructive50: hsla(0, 96%, 89%, 1.00);
  --color-sc-color-bg-destructive10: hsla(0, 72%, 51%, 0.10);
  --color-sc-color-hover-destructive20: hsla(0, 72%, 51%, 0.20);
  --color-sc-color-bg-muted50: hsla(240, 5%, 96%, 0.50);
  --color-sc-color-bg-accent50: hsla(240, 5%, 96%, 0.50);
  --color-sc-color-bg-muted40: hsla(240, 5%, 96%, 0.40);
  --color-sc-color-border-muted40: hsla(240, 5%, 96%, 0.40);
  --color-sc-color-sidebar-background: hsla(0, 0%, 98%, 1.00);
  --color-sc-color-sidebar-foreground: hsla(240, 5%, 26%, 1.00);
  --color-sc-color-sidebar-primary: hsla(240, 6%, 10%, 1.00);
  --color-sc-color-sidebar-primary-foreground: hsla(0, 0%, 98%, 1.00);
  --color-sc-color-sidebar-accent: hsla(240, 5%, 96%, 1.00);
  --color-sc-color-sidebar-accent-foreground: hsla(240, 6%, 10%, 1.00);
  --color-sc-color-sidebar-border: hsla(240, 6%, 90%, 1.00);
  --color-sc-color-sidebar-ring: hsla(240, 5%, 65%, 1.00);
  --color-sc-color-sidebar-foreground70: hsla(240, 5%, 26%, 0.70);
  --color-neon-green: hsla(81, 96%, 55%, 1.00);
  --color-sc-color-menu-backdrop: hsla(12, 6%, 15%, 0.80);
  --color-sc-color-image-backdrop: hsla(24, 10%, 10%, 0.20);
}

[data-theme="4th"] {
  --color-sc-color-background: hsla(0, 0%, 100%, 1.00);
  --color-sc-color-foreground: hsla(23, 83%, 31%, 1.00);
  --color-sc-color-muted: hsla(48, 96%, 89%, 1.00);
  --color-sc-color-muted-foreground: hsla(21, 92%, 14%, 1.00);
  --color-sc-color-card: hsla(0, 0%, 100%, 1.00);
  --color-sc-color-card-foreground: hsla(22, 78%, 26%, 1.00);
  --color-sc-color-popover: hsla(0, 0%, 100%, 1.00);
  --color-sc-color-popover-foreground: hsla(22, 78%, 26%, 1.00);
  --color-sc-color-border: hsla(20, 6%, 90%, 1.00);
  --color-sc-color-input: hsla(20, 6%, 90%, 1.00);
  --color-sc-color-primary: hsla(23, 83%, 31%, 1.00);
  --color-sc-color-primary-foreground: hsla(60, 9%, 98%, 1.00);
  --color-sc-color-secondary: hsla(48, 100%, 96%, 1.00);
  --color-sc-color-secondary-foreground: hsla(22, 78%, 26%, 1.00);
  --color-sc-color-accent: hsla(48, 100%, 96%, 1.00);
  --color-sc-color-accent-foreground: hsla(22, 78%, 26%, 1.00);
  --color-sc-color-destructive: hsla(0, 72%, 51%, 1.00);
  --color-sc-color-destructive-foreground: hsla(60, 9%, 98%, 1.00);
  --color-sc-color-ring: hsla(25, 5%, 45%, 1.00);
  --color-sc-color-hover-primary: hsla(26, 90%, 37%, 1.00);
  --color-sc-color-hover-secondary: hsla(48, 96%, 89%, 1.00);
  --color-sc-color-hover-destructive: hsla(0, 84%, 60%, 1.00);
  --color-sc-color-success: hsla(142, 76%, 36%, 1.00);
  --color-sc-color-hover-succes: hsla(142, 72%, 29%, 1.00);
  --color-sc-color-border-destructive50: hsla(0, 96%, 89%, 1.00);
  --color-sc-color-bg-destructive10: hsla(0, 72%, 51%, 0.10);
  --color-sc-color-hover-destructive20: hsla(0, 72%, 51%, 0.20);
  --color-sc-color-bg-muted50: hsla(210, 40%, 96%, 0.50);
  --color-sc-color-bg-accent50: hsla(210, 40%, 96%, 0.50);
  --color-sc-color-bg-muted40: hsla(210, 40%, 96%, 0.40);
  --color-sc-color-border-muted40: hsla(210, 40%, 96%, 0.40);
  --color-sc-color-sidebar-background: hsla(60, 9%, 98%, 1.00);
  --color-sc-color-sidebar-foreground: hsla(30, 6%, 25%, 1.00);
  --color-sc-color-sidebar-primary: hsla(24, 10%, 10%, 1.00);
  --color-sc-color-sidebar-primary-foreground: hsla(60, 9%, 98%, 1.00);
  --color-sc-color-sidebar-accent: hsla(60, 5%, 96%, 1.00);
  --color-sc-color-sidebar-accent-foreground: hsla(24, 10%, 10%, 1.00);
  --color-sc-color-sidebar-border: hsla(20, 6%, 90%, 1.00);
  --color-sc-color-sidebar-ring: hsla(24, 5%, 64%, 1.00);
  --color-sc-color-sidebar-foreground70: hsla(30, 6%, 25%, 0.70);
  --color-neon-green: hsla(81, 96%, 55%, 1.00);
  --color-sc-color-menu-backdrop: hsla(24, 10%, 10%, 1.00);
  --color-sc-color-image-backdrop: hsla(24, 10%, 10%, 1.00);
}