:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(24, 10%, 10%);
  --muted: hsl(60, 5%, 96%);
  --mutedForeground: hsl(25, 5%, 45%);
  --card: hsl(0, 0%, 100%);
  --cardForeground: hsl(20, 14%, 4%);
  --popover: hsl(0, 0%, 100%);
  --popoverForeground: hsl(20, 14%, 4%);
  --border: hsl(20, 6%, 90%);
  --input: hsl(20, 6%, 90%);
  --primary: hsl(12, 6%, 15%);
  --primaryForeground: hsl(60, 9%, 98%);
  --secondary: hsl(60, 5%, 96%);
  --secondaryForeground: hsl(12, 6%, 15%);
  --accent: hsl(60, 5%, 96%);
  --accentForeground: hsl(12, 6%, 15%);
  --destructive: hsl(0, 72%, 51%);
  --destructiveForeground: hsl(60, 9%, 98%);
  --ring: hsl(25, 5%, 45%);
  --hoverPrimary: hsl(30, 6%, 25%);
  --hoverSecondary: hsl(20, 6%, 90%);
  --hoverDestructive: hsl(0, 84%, 60%);
  --success: hsl(142, 76%, 36%);
  --hoverSucces: hsl(142, 72%, 29%);
  --borderDestructive50: hsl(0, 96%, 89%);
  --bgDestructive10: hsl(0, 72%, 51%);
  --hoverDestructive20: hsl(0, 72%, 51%);
  --bgMuted50: hsl(210, 40%, 96%);
  --bgAccent50: hsl(210, 40%, 96%);
  --bgMuted40: hsl(210, 40%, 96%);
  --borderMuted40: hsl(210, 40%, 96%);
  --sidebarBackground: hsl(60, 9%, 98%);
  --sidebarForeground: hsl(30, 6%, 25%);
  --sidebarPrimary: hsl(24, 10%, 10%);
  --sidebarPrimaryForeground: hsl(60, 9%, 98%);
  --sidebarAccent: hsl(60, 5%, 96%);
  --sidebarAccentForeground: hsl(24, 10%, 10%);
  --sidebarBorder: hsl(20, 6%, 90%);
  --sidebarRing: hsl(24, 5%, 64%);
  --sidebarForeground70: hsl(215, 25%, 27%);
  --neonGreen: hsl(81, 96%, 55%);
}

[data-theme="darkPro"] {
  --background: hsl(20, 14%, 4%);
  --foreground: hsl(60, 9%, 98%);
  --muted: hsl(12, 6%, 15%);
  --mutedForeground: hsl(24, 5%, 64%);
  --card: hsl(20, 14%, 4%);
  --cardForeground: hsl(60, 9%, 98%);
  --popover: hsl(20, 14%, 4%);
  --popoverForeground: hsl(60, 9%, 98%);
  --border: hsl(30, 6%, 25%);
  --input: hsl(30, 6%, 25%);
  --primary: hsl(60, 9%, 98%);
  --primaryForeground: hsl(24, 10%, 10%);
  --secondary: hsl(12, 6%, 15%);
  --secondaryForeground: hsl(60, 9%, 98%);
  --accent: hsl(12, 6%, 15%);
  --accentForeground: hsl(60, 9%, 98%);
  --destructive: hsl(0, 63%, 31%);
  --destructiveForeground: hsl(60, 9%, 98%);
  --ring: hsl(24, 5%, 64%);
  --hoverPrimary: hsl(60, 5%, 96%);
  --hoverSecondary: hsl(30, 6%, 25%);
  --hoverDestructive: hsl(0, 70%, 35%);
  --success: hsl(142, 71%, 45%);
  --hoverSucces: hsl(142, 76%, 36%);
  --borderDestructive50: hsl(0, 63%, 31%);
  --bgDestructive10: hsl(0, 63%, 31%);
  --hoverDestructive20: hsl(0, 63%, 31%);
  --bgMuted50: hsl(217, 33%, 17%);
  --bgAccent50: hsl(217, 33%, 17%);
  --bgMuted40: hsl(217, 33%, 17%);
  --borderMuted40: hsl(217, 33%, 17%);
  --sidebarBackground: hsl(24, 10%, 10%);
  --sidebarForeground: hsl(60, 5%, 96%);
  --sidebarPrimary: hsl(224, 76%, 48%);
  --sidebarPrimaryForeground: hsl(0, 0%, 100%);
  --sidebarAccent: hsl(12, 6%, 15%);
  --sidebarAccentForeground: hsl(60, 5%, 96%);
  --sidebarBorder: hsl(12, 6%, 15%);
  --sidebarRing: hsl(24, 6%, 83%);
  --sidebarForeground70: hsl(210, 40%, 96%);
  --neonGreen: hsl(81, 96%, 55%);
}

[data-theme="lightGaleria"] {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(12, 6%, 15%);
  --muted: hsl(240, 5%, 96%);
  --mutedForeground: hsl(240, 4%, 46%);
  --card: hsl(0, 0%, 100%);
  --cardForeground: hsl(240, 10%, 4%);
  --popover: hsl(0, 0%, 100%);
  --popoverForeground: hsl(240, 10%, 4%);
  --border: hsl(240, 6%, 90%);
  --input: hsl(240, 6%, 90%);
  --primary: hsl(30, 6%, 25%);
  --primaryForeground: hsl(60, 5%, 96%);
  --secondary: hsl(240, 5%, 96%);
  --secondaryForeground: hsl(30, 6%, 25%);
  --accent: hsl(240, 5%, 96%);
  --accentForeground: hsl(24, 10%, 10%);
  --destructive: hsl(0, 72%, 51%);
  --destructiveForeground: hsl(0, 0%, 98%);
  --ring: hsl(240, 4%, 46%);
  --hoverPrimary: hsl(33, 5%, 32%);
  --hoverSecondary: hsl(20, 6%, 90%);
  --hoverDestructive: hsl(0, 84%, 60%);
  --success: hsl(142, 76%, 36%);
  --hoverSucces: hsl(142, 72%, 29%);
  --borderDestructive50: hsl(0, 96%, 89%);
  --bgDestructive10: hsl(0, 72%, 51%);
  --hoverDestructive20: hsl(0, 72%, 51%);
  --bgMuted50: hsl(240, 5%, 96%);
  --bgAccent50: hsl(240, 5%, 96%);
  --bgMuted40: hsl(240, 5%, 96%);
  --borderMuted40: hsl(240, 5%, 96%);
  --sidebarBackground: hsl(0, 0%, 98%);
  --sidebarForeground: hsl(240, 5%, 26%);
  --sidebarPrimary: hsl(240, 6%, 10%);
  --sidebarPrimaryForeground: hsl(0, 0%, 98%);
  --sidebarAccent: hsl(240, 5%, 96%);
  --sidebarAccentForeground: hsl(240, 6%, 10%);
  --sidebarBorder: hsl(240, 6%, 90%);
  --sidebarRing: hsl(240, 5%, 65%);
  --sidebarForeground70: hsl(240, 5%, 26%);
  --neonGreen: hsl(81, 96%, 55%);
}

[data-theme="4th"] {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(23, 83%, 31%);
  --muted: hsl(48, 96%, 89%);
  --mutedForeground: hsl(21, 92%, 14%);
  --card: hsl(0, 0%, 100%);
  --cardForeground: hsl(22, 78%, 26%);
  --popover: hsl(0, 0%, 100%);
  --popoverForeground: hsl(22, 78%, 26%);
  --border: hsl(20, 6%, 90%);
  --input: hsl(20, 6%, 90%);
  --primary: hsl(23, 83%, 31%);
  --primaryForeground: hsl(60, 9%, 98%);
  --secondary: hsl(48, 100%, 96%);
  --secondaryForeground: hsl(22, 78%, 26%);
  --accent: hsl(48, 100%, 96%);
  --accentForeground: hsl(22, 78%, 26%);
  --destructive: hsl(0, 72%, 51%);
  --destructiveForeground: hsl(60, 9%, 98%);
  --ring: hsl(25, 5%, 45%);
  --hoverPrimary: hsl(26, 90%, 37%);
  --hoverSecondary: hsl(48, 96%, 89%);
  --hoverDestructive: hsl(0, 84%, 60%);
  --success: hsl(142, 76%, 36%);
  --hoverSucces: hsl(142, 72%, 29%);
  --borderDestructive50: hsl(0, 96%, 89%);
  --bgDestructive10: hsl(0, 72%, 51%);
  --hoverDestructive20: hsl(0, 72%, 51%);
  --bgMuted50: hsl(210, 40%, 96%);
  --bgAccent50: hsl(210, 40%, 96%);
  --bgMuted40: hsl(210, 40%, 96%);
  --borderMuted40: hsl(210, 40%, 96%);
  --sidebarBackground: hsl(60, 9%, 98%);
  --sidebarForeground: hsl(30, 6%, 25%);
  --sidebarPrimary: hsl(24, 10%, 10%);
  --sidebarPrimaryForeground: hsl(60, 9%, 98%);
  --sidebarAccent: hsl(60, 5%, 96%);
  --sidebarAccentForeground: hsl(24, 10%, 10%);
  --sidebarBorder: hsl(20, 6%, 90%);
  --sidebarRing: hsl(24, 5%, 64%);
  --sidebarForeground70: hsl(215, 25%, 27%);
  --neonGreen: hsl(81, 96%, 55%);
}